body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #20B2AA;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    color: #E0FFFF;
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: 'Bell MT', serif;
}

.food-list {
    list-style-type: none;
    padding: 0;
}

.food-list li {
    font-size: 1.5rem;
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.food-list li:hover {
    background-color: #20B2AA;
}
